@font-face {
    font-family: cool;
    src: url(font/cool/coolvetica\ rg.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cool;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(189,233,235,255);
}

.card{
    width: 40%;
    height: 40%;
    padding: 15px 20px;
    background-color: rgba(132,197,215,255);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000046;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.forgot{
     margin: 10px; 
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.title{
    color: rgb(18, 36, 42);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.inputs{ 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}

.inputs label{
    color: #fff;
    margin: 0px 0px 10px;
}

.inputs input{
    outline: none;
    border: none;
    border: 2px solid rgb(251, 254, 253, .2);
    border-radius: 40px;
    width: 100%;
    padding: 13px;
    color: rgba(109,185,216,255);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000046;
}

.botao{
    width: 40%;
    height: 40px;
    background-color: rgb(255, 255, 255)141;
    color: rgba(0, 0, 0, 0.707);
    border: none;
    outline: none;
    border-radius: 17px;
    box-shadow: 0px 10px 40px #00000046;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 200;
    margin: 25px 0px 0px 200px;
}

.botao:hover{
    background-color: rgba(205, 255, 252, 0.615);
    transition: 600ms ease-out;
}


